doctype html
html
    head
        title Natours | #{tour}
        link(rel='stylesheet' href='css/style.css')
        link(rel='shortcut icon' type='image/png' href='img/favicon.png')
    
    body
        h1= tour
        h2= user.toUpperCase()
        - const age = 2021 - 2000
        h3= age
        p This is just some text